.Accordion {
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: .3em;
    box-shadow: 0 1px 2px hsl(0, 0%, 82%);
}

.Accordion > * + * {
    border-top: 1px solid hsl(0, 0%, 82%);
}

.Accordion-trigger {
    background: none;
    border: 0;
    color: hsl(0, 0%, 13%);
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 -3px 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.Accordion dt:first-child .Accordion-trigger {
    border-radius: .3em .3em 0 0;
}

.Accordion-trigger:focus,
.Accordion-trigger:hover {
    background: #612a60;
}

.Accordion-title {
  display: block; /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8295099/ */
  pointer-events: none;
}

.Accordion-title img {
    max-width: 100%;
}

.Accordion-icon {
    border: solid hsl(0, 0%, 33%);
    border-width: 0 7px 7px 0;
    height: 2.5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 2.5rem;
}

.Accordion-trigger:focus .Accordion-icon,
.Accordion-trigger:hover .Accordion-icon {
    border-color: hsl(50, 81%, 94%);
}

.Accordion-trigger[aria-expanded="true"] .Accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

.Accordion-panel {
    background-color: whitesmoke;
    margin: 0;
    padding: 1em 1.5em;
}

/*----------------------------------------------------------------------------------- */
/*  For Playing with Injecting Infinitely Anything  */
/*----------------------------------------------------------------------------------- */

css-doodle {
    --rule: ( :doodle {
      position: absolute;
      width: 100%;
      @grid: 10 / 101% 100vh;
      overflow: hidden;
    }
    animation: bounce linear @r(7s, 15s) @r(-1s, -5s) infinite;
    opacity: @r(0.3, 1);
    @place-cell: @r(100%) @r(100%);
    @random(.3) {
    :after {
      content: '🍭';
      position: absolute;
      font-size: @r(25px, 35px);
      transform: rotate(@r(360deg));
    }
    }
    @random(.2) {
      :after {
        content: '🍫';
        position: absolute;
        @place-cell: @r(100%) @r(100%);
        font-size: @r(15px, 25px);
        z-index: @p(1, 2);
        transform: rotate(@r(360deg));
      }
    }
    @random(.2) {
      :before {
        content: '🧁';
        position: absolute;
        @place-cell: @r(100%) @r(100%);
        font-size: @r(15px, 25px);
        z-index: @p(1, 2);
        transform: rotate(@r(360deg));
      }
    }
    @random(.2) {
      :before {
        content: '🍪';
        position: absolute;
        @place-cell: @r(100%) @r(100%);
        font-size: @r(15px, 25px);
        z-index: @p(1, 2);
        transform: rotate(@r(360deg));
      }
    }

    @keyframes bounce {
      0% {
        transform: translateY(@r(-101vh, -110vh));
      }
      100% {
        transform: translateY(@r(101vh, 110vh));
      }
    }
    );
  }

css-doodle.voting {
    --rule: ( :doodle {
      position: absolute;
      width: 100%;
      @grid: 10 / 101% 100vh;
      overflow: hidden;
    }
    animation: bounce linear @r(7s, 15s) @r(-1s, -5s) infinite;
    opacity: @r(0.3, 1);
    @place-cell: @r(100%) @r(100%);
    @random(.3) {
    :after {
      content: 'votes';
      position: absolute;
      font-size: @r(25px, 35px);
      transform: rotate(@r(360deg));
    }
    }
    @random(.2) {
      :after {
        content: 'secret ballot';
        position: absolute;
        @place-cell: @r(100%) @r(100%);
        font-size: @r(15px, 25px);
        z-index: @p(1, 2);
        transform: rotate(@r(360deg));
      }
    }
    @random(.2) {
      :before {
        content: 'districting';
        position: absolute;
        @place-cell: @r(100%) @r(100%);
        font-size: @r(15px, 25px);
        z-index: @p(1, 2);
        transform: rotate(@r(360deg));
      }
    }
    @random(.2) {
      :before {
        content: '🗳️';
        position: absolute;
        @place-cell: @r(100%) @r(100%);
        font-size: @r(15px, 25px);
        z-index: @p(1, 2);
        transform: rotate(@r(360deg));
      }
    }

    @keyframes bounce {
      0% {
        transform: translateY(@r(-101vh, -110vh));
      }
      100% {
        transform: translateY(@r(101vh, 110vh));
      }
    }
    );
  }


section.play, article.play {
  position: relative;
  margin: 0;
  padding: 0;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  background-color: white;
  background: linear-gradient(to bottom, hsl(28deg 8% 73%) 20%, hsl(0deg 0% 3%) 100%);
  overflow: hidden;

  }
  
}

@keyframes load {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-35px);
  }
}

@keyframes textBounce {
  from, 10%{
        transform: rotate(0deg);
    }
  1%, 3%, 5%, 7%, 9% {
    transform: rotate(10deg);
  }
  2%, 4%, 6%, 8% {
    transform: rotate(-10deg);
  }
}

/*----------------------------------------------------------------------------------- */
/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
/*----------------------------------------------------------------------------------- */
.Accordion-panel[hidden] {
  display: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border: 1px solid hsl(0, 0%, 62%);
    border-radius: .3em;
    display: block;
    font-size: inherit;
    padding: .3em .5em;
}
